body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff !important;
}


.cont {
    height: 300px;
    width: 700px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
  }
      


.image{
  background-color: black;
  width: 10%;
}